@switch (true) {
@case (typeof value === 'string') {
<app-type [type]="value"></app-type>
}
@case (typeof value === 'object') {
@switch (true) {
    @case ('ArraySized' in value) {
        <app-type type="Array"></app-type>
        <div class="gap-2 ml-4 grid grid-cols-[max-content_1fr]">
        @for (item of value.ArraySized; track item) {
            <div>#{{ $index }} {{item.name}}</div>
            <div class="flex flex-col gap-1">
                <div class="flex flex-row">
                    <app-value [value]="item.type"></app-value>
                    @if (item.default) {
                    <div class="text-orange-800 ml-2">(default: {{ item.default }})</div>
                    }
                </div>
                @if (item.desc) {
                <div class="text-gray-600 text-sm mt-1">{{ item.desc }}</div>
                }
            </div>
        }
        </div>
    }
    @case ('ArrayUnsized' in value) {
        <app-type type="Array"></app-type> of <app-value [value]="value.ArrayUnsized.value"></app-value>
    }
    @case ('OneOf' in value) {
        any:
        <div class="flex flex-col ml-2">
        @for (option of value.OneOf; track option) {
            <app-value [value]="option.type"></app-value>
            @if (option.desc) {
                <div class="text-gray-600 text-sm mt-1">{{ option.desc }}</div>
            }
        }
        </div>
    }
    @default {
        <app-type [type]="getType"></app-type>
        <div class="text-gray-600">The type {{ getType }} is not supported for rich display yet, consider contributing to the wiki!</div>
    }
}
}
}
